{% extends "includes/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                <span></span> Pages <span></span> My Account
            </div>
        </div>
    </div>
    <div class="page-content pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-8 col-md-12 m-auto">
                    <div class="row">
                        <div class="heading_s1">
                            <img class="border-radius-15" src="{% static 'front-assets/imgs/page/reset_password.svg' %}" alt="" />
                            <h2 class="mb-15 mt-15">Set new password</h2>
                            <p class="mb-30">Please create a new password.</p>
                        </div>
                        <div class="col-lg-6 col-md-8">
                            <div class="login_wrap widget-taber-content background-white">
                                {% if token_fail %}
                                {% url 'account_reset_password' as passwd_reset_url %}
                                    <p>The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.</p>
                                {% else %}
                                {% if form %}
                                <div class="padding_eight_all bg-white">
                                    <form method="post" action="{{ action_url }}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="password" required="" name="password1" id="id_password1" placeholder="Password *" />
                                        </div>
                                        {% if form.password1.errors %}
                                        <div class="alert alert-danger"style="border: none;">
                                            <strong>{{ form.password1.errors|safe }}</strong>
                                        </div>
                                        {% endif %}
                                        <div class="form-group">
                                            <input type="password" required="" name="password2" id="id_password2" placeholder="Confirm you password *" />
                                        </div>
                                        {% if form.password2.errors %}
                                        <div class="alert alert-danger"style="border: none;">
                                            <strong>{{ form.password2.errors|safe }}</strong>
                                        </div>
                                        {% endif %}
                                        {% if redirect_field_value %}
                                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                        {% endif %}
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-heading btn-block hover-up" name="login">Reset password</button>
                                        </div>
                                    </form>
                                    {% else %}
                                    <p>Your Password is now Changed</p>
                                    {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 pl-50">
                            <h6 class="mb-15">Password must:</h6>
                            <p>Be between 9 and 64 characters</p>
                            <p>Include at least tow of the following:</p>
                            <ol class="list-insider">
                                <li>An uppercase character</li>
                                <li>A lowercase character</li>
                                <li>A number</li>
                                <li>A special character</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
