{% extends "includes/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                <span></span> Pages <span></span> My Account
            </div>
        </div>
    </div>
    <div class="page-content pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-8 col-md-12 m-auto">
                    <div class="row">
                        <div class="heading_s1">
                            <img class="border-radius-15" src="{% static 'front-assets/imgs/page/reset_password.svg' %}" alt="" />
                            <h2 class="mb-15 mt-15">Password Reset Successful</h2>
                            <p class="mb-30">Go ahead and Login With Your New Password</p>
                        </div>
                        <div class="form-group">
                           <a  href="{% url 'account_login' %}"> <button type="submit" class="btn btn-heading btn-block hover-up" name="login">Login </button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
